:root {
    --primary: rgb(255,138,0);
    --primary-contrast: #000;
    --behind-fill: #112;
    --behind-shadow-tint: #08080f;
    --fab-shadow-tint: #222;
    --card-background: #333;
    --card-foreground: #ddd;
    --screen-background: #000;
    --widget-background: #555;
    --widget-foreground: #fff;
    --popover-background: #222;

    --transition-time: 150ms;

    --gap: 1rem;
    --double-gap: calc(var(--gap) * 2);
    --triple-gap: calc(var(--gap) * 3);
    --half-gap: calc(var(--gap) / 2);
    --quarter-gap: calc(var(--gap) / 4);
}

$breakpoints: (
    xs: 400px,
    sm: 600px
);

@import "mixins";
@import "defaults";
@import "utils";
@import "components/card";
@import "components/chip";
@import "components/shell";

@import "fontAwesome";
