.no-wrap {
    white-space: nowrap;
}

.no-part {
    display: none;
}

.text > *, .text-list > li > * {
    margin: var(--gap) 0 0 0;
}

.text-list {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.double-gap-top {
    margin-top: var(--double-gap);
}

.d-none {
    display: none !important;
}

// Text

.lang {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    font-style: normal;
    font-size: 0.75em;

    + span {
        vertical-align: middle;
    }
}

.vt323 {
    font-family: 'VT323';
}

// Lists

ul.no-list {
    padding: 0;

    > li {
        list-style: none;
    }
}

ol.h2-list, ol.h3-list {
    padding: 0;

    > li {
        list-style-position: inside;
        margin: 0;
    }
}

ol.h2-list > li {
    padding-top: var(--gap);

    &::marker {
        @extend h2;
    }

    > h2 {
        display: inline;
    }
}

ol.h3-list > li {
    &::marker {
        @extend h3;
    }

    > h3 {
        display: inline;
    }
}

.alpha-list {
    list-style: lower-alpha;
}

dl.alpha-list {
	counter-reset: alpha-dl;

    > dt::before {
        counter-increment: alpha-dl;
        content: counter(alpha-dl, lower-alpha) '. ';
    }
}

.number-h2 {
    counter-reset: h2;

    h2::before {
        counter-increment: h2;
        content: counter(h2, decimal) '. ';
    }
}

h2 {
    counter-reset: h3;
}

.alpha-h3 h3::before {
    counter-increment: h3;
    content: counter(h3, lower-alpha) ') ';
}


// Responsive

@include break('grid-2') {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--half-gap);
}

@include break('horizontal') {
    display: flex;
    flex-direction: row;
    gap: var(--half-gap);
}

@include break('vertical') {
    display: flex;
    flex-direction: column;
    gap: var(--half-gap);
}
